.logo {
	font-size: 36px;
	font-family: monospace;
	font-weight: bold;
	margin-right: 14px;
	color: #66a;
}
.desc {
	font-family: sans-serif;
	font-size: 14px;
	font-style: italic;
}
.description {
	border-bottom: 1px solid #aaa;
	margin-bottom: 3px;
	width: calc(100% - 40px);
}
.hidden {
	opacity: 0;
	display: None;
}
.dotgraph {
	position: absolute;
	min-width: 100%;
	min-height: calc(100% - 63px);
}
.task-text {
	margin-top: 8px;
	margin-left: 8px;
	padding: 5px;
	width: calc(100% - 27px);
	height: calc( 100% - 27px);
	cursor: text;
	color: #333;
	font-family: sans-serif;
	font-size: 11pt;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.86);
	overflow: hidden;
	border-radius: 2px;
	user-select: none;
}
body {
	background-color: #fefefe;
}
.graph-overlay {
	position: absolute;
	top: 0px;
	left: 0px;
}
#graph0>polygon{
	opacity: 0;
}
span.delete, span.collapse{
	color: #888;
	cursor: pointer;
	width: 16px;
	text-align: center;
	font-size: 14px;
	opacity: 0;
	transition: opacity 0.2s;
}
.node-overlay>span.delete{
	position: absolute;
	top: -1px;
	right: -1px;
}
div:hover>span.delete{
	opacity: 1;
}
div:hover>span.collapse{
	opacity: 1;
}
.node-sidebar>span.delete{
	opacity: 1;
	position: absolute;
	top: -2px;
	right: -0px;
} 

.node-overlay .node-sidebar {
	position: absolute;
	top: -1px;
	right: -18px;
	width: 16px;
	min-height: 86px;
	height: 100%;
	border: 0.5px solid #999;
	background-color: #eee;
	opacity: 0;
	transition: 0.4s ease-out;
}
.node-overlay:hover .node-sidebar {
	opacity: 1;
	z-index: 20;
}
.node-overlay .color-picker {
	position: absolute;
	line-height: 10px;
	top: 14px;
	left: 3px;
	opacity: 0.7;
}
.node-overlay .color-swatch {
	opacity: 0;
	width: 8px;
	height: 8px;
	display: inline-block;
	border: 0.5px solid #999;
	cursor: pointer;
}
.node-overlay:hover .color-swatch {
	opacity: 1;
}

.node-overlay .node-resize {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 12px;
	height: 12px;
	cursor: nwse-resize;
	border-bottom: double #888;
	border-right: double #888;
	opacity: 0;
	transition: opacity 0.2s;
}
.node-overlay:hover .node-resize {
	opacity: 0.8;
}
.node-overlay {
	transition: 0.4s ease-in, box-shadow 0.1s ease-out, background-color 0.15s ease-out;
	position: absolute;
	width: 144px;
	height: 72px;
	background-color: #C9C9C9;
	border: 1px solid #888;
	border-radius: 3px;
	user-select: none;
	padding-top: 0px;
}
.resize-overlay {
	position: absolute;
	border: 2px dashed #111;
	box-shadow: inset 0 0 0px 5000px rgba(255, 255, 255, 0.7), 0 0 0px 5000px rgba(255, 255, 255, 0.7);
	z-index: 999;
}
.node-overlay.selected {
	box-shadow: 0 0 1px 2.5px #FF4;
}
.node-overlay.cluster-node {
	cursor: zoom-in;
	border-radius: 20px;
	box-shadow: inset 0 0 10px 1px #666;
}
.node-overlay.cluster-node .task-text {
	border-radius: 10px;
	margin-top: 14px;
	margin-left: 14px;
	width: calc(100% - 38px);
	height: calc(100% - 38px);
}
.cluster-overlay {
	transition: 0.5s ease-in;
	user-select: none;
	font-family: sans-serif;
	font-size: 11pt;
	color: #333;
	box-shadow: 0 0 0 1px rgba(102, 102, 102, 0.75);
        position: absolute;
        background-color: rgba(255, 255, 255, 0.75);
        height: 18px;
        padding-top: 1px;
        text-align: center;
}
.cluster-overlay span.delete {
	position: absolute;
	right: 0px;
	top: 0px;
}
.cluster-overlay span.collapse {
	position: absolute;
	right: 12px;
	top: 0px;
}
.node polygon {
	stroke: rgba(0, 0, 0, 0);
}
.modal-backdrop {
	z-index: 900;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(60, 60, 60, 0.7)
}
.modal-backdrop.hidden>.modal {
	opacity: 0;
	margin-top: 0px;
}
.modal {
	z-index: 1000;
	background-color: white;
	border: 1px solid #333;
	position: relative;
	/*top: 80px;*/
	/*width: 50%;*/
	max-width: calc(100% - 60px);
	min-width: 400px;
	max-height: calc(100% - 60px);
	margin-top: 30px;
	/*margin-bottom: auto;*/
	margin-left: auto;
	margin-right: auto;
	opacity: 1;
	transition: 0.7s ease-out;
}
.modal-title {
	font-size: 18pt;
}
.modal-buttons {
	height: 20px;
	padding-top: 5px;
}
.x-button {
	position: absolute;
	top: 0px;
	right: 4px;
	color: #888;
	cursor: pointer;
}
.modal.bulk-modal {
	padding: 8px;
	max-width: 1000px;
}
.bulk-modal textarea {
	width: calc(100% - 8px);
}
.toc {
	border: 3px double #666;
	padding: 8px;
	padding-left: 0px;
	width: fit-content;
}
.toc-row, .section {
	display: block;
	padding-left: 10px;
	margin-bottom: 2px;
	width: fit-content;
}
.header {margin-left: -10px;}
.section p {
	-webkit-margin-before: 0.5em;
	-webkit-margin-after: 0.5em;
}
.page {
	margin-bottom: 400px;
}
.link-preview {
	position: absolute;
	height: 100%;
	width: 100%;
	pointer-events: none;
}
.pv-line {
	stroke: #007200;
	stroke-width: 2px;
}
.edit-overlay {
	position: absolute;
	height: 0;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.45s, height 0.1s 0.6s, width 0.1s 0.6s;
	/*display:none;*/
	width: 100%;
	background: rgba(128, 128, 128, 0.1);
}
.dotgraph.editing .edit-overlay {
	height: 100%;
	opacity: 1;
	/*display:block;*/
	transition: opacity 0.45s;
}
.edit-overlay textarea {
	display: none;
	padding-top: 4px;
	position: absolute;
	font-family: sans-serif;
	font-size: 11pt;
	text-align: center;
}
.dotgraph.editing .edit-overlay textarea {
	display: block;
}
span.button {
	cursor: pointer;
	/*border: 1px solid #666;*/
	display: inline-block;
	padding: 2px;
	padding-bottom: 0px;
	border-radius: 3px;
	margin-right: 2px;
}
span.button:hover {
	/*background-color: #f4f4f4;*/
}
.button-bar svg {
	margin-top: 1px;
	fill: #666;
}
span.button:hover svg, .direction-button:hover svg {
	fill: #222;
}
.help-drag [data-help-link] {
	box-shadow: 0 0 15px blue, inset 0 0 10px blue;
	transition: box-shadow 0.5s 0.2s;
}
.hidden-select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 0px;
	height: 0px;
	padding-top: 21px;
	padding-bottom: 12px;
	padding-left: 12px;
	padding-right: 19px;
	border: none;
	background-color: white;
}
.direction-button {
	position: relative;
	display: inline-block;
}
.direction-button svg {
	position: absolute;
	left: 0px;
	top: 1px;
	pointer-events: none;
	transition: transform 0.6s;
}
.cluster polygon {
	fill: rgba(230, 230, 230, 0.25);
	stroke-linejoin: round;
	stroke-width: 2.5;
	stroke: #999;
}
